

input.player-area {
    width: auto;
}

.player-area {
    text-align:center;
}

input[disabled='disabled'].player-area {
    border: 0px solid;
    box-shadow: none;
    background-color:transparent;
    color:inherit;
    display:inline;
}

input.player-area.timebank {
    width: 50px;
    display:inline;
    
}